@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.smooch-sans-tag{
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/backgroundcomplete.jpg"); /* Adjust path based on your public folder */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Ensures it remains fixed while scrolling */
  background-repeat: no-repeat;
  box-sizing: border-box;
}
